USE [BlogEducacional]
GO
/****** Objeto:  Table [dbo].[Aulas]    Data do Script: 10/07/2026 21:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aulas](
	[IdAula] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](150) NOT NULL,
	[Conteudo] [nvarchar](max) NOT NULL,
	[IdProfessor] [int] NOT NULL,
	[IdMateria] [int] NOT NULL,
	[DataPublicacao] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Materia]    Data do Script: 10/07/2026 21:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materia](
	[IdMateria] [int] IDENTITY(1,1) NOT NULL,
	[NomeMateria] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMateria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Professor]    Data do Script: 10/07/2026 21:22:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Professor](
	[IdProfessor] [int] IDENTITY(1,1) NOT NULL,
	[NomeProfessor] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProfessor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Aulas] ADD  DEFAULT (getdate()) FOR [DataPublicacao]
GO
ALTER TABLE [dbo].[Aulas]  WITH CHECK ADD  CONSTRAINT [FK_Aula_Materia] FOREIGN KEY([IdMateria])
REFERENCES [dbo].[Materia] ([IdMateria])
GO
ALTER TABLE [dbo].[Aulas] CHECK CONSTRAINT [FK_Aula_Materia]
GO
ALTER TABLE [dbo].[Aulas]  WITH CHECK ADD  CONSTRAINT [FK_Aula_Professor] FOREIGN KEY([IdProfessor])
REFERENCES [dbo].[Professor] ([IdProfessor])
GO
ALTER TABLE [dbo].[Aulas] CHECK CONSTRAINT [FK_Aula_Professor]
GO
